absl-py==1.0.0
astor==0.8.1
gast==0.5.3
google-pasta==0.2.0
grpcio==1.43.1
h5py==3.6.0
Keras==2.8.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
Markdown==3.3.6
numpy==1.21.5
opt-einsum==3.3.0
protobuf==3.19.4
PyYAML==5.4.1
scipy==1.7.3
six==1.16.0
tensorflow==2.8.0
tensorboard==2.8.0
tensorflow-estimator==1.15.1
tensorflow-gpu==1.15.2
termcolor==1.1.0
tree-sitter==0.20.0
Werkzeug==2.0.2
wrapt==1.13.3
